.cgreen {
    color: #00C543;
}

.cred {
    color: red;
}

.cgray {
    color: #776D6D;
}

.myCard {
    border: 1px solid #C4C4C4;
    margin: 0px;
}

.card-img-top {
    height: 200px;
}

.card-footer {
    padding: 0;
    background: #fff;
}

.card-footer button {
    cursor: pointer;
    text-transform: uppercase;
}

.productImage {
    width: 250px;
    height: 250px
}

h1.calign {
    text-align: center;
}

p.calign {
    text-align: center;
}

.cartBtn {
    margin-top: 10px;
}

.addToCartBtn {
    background-color: transparent;
    border: 1px solid #336CFF;
    border-radius: 20px;
    color: black;
}

.addToCartBtn:hover {
    background-color: rgb(57, 96, 196);
    border: 1px solid #336CFF;
    border-radius: 20px;
    color: black;
}

.buyNowBtn {
    background-color: transparent;
    border: 1px solid #FFAA04;
    border-radius: 20px;
    color: black;
}

.buyNowBtn:hover {
    background-color: rgb(230, 155, 5);
    border: 1px solid #FFAA04;
    border-radius: 20px;
    color: black;
}