<div class="row" *ngIf="this.product.title">
    <div class="col-4">
        <div class="imageContainer">
            <img class="mainImage" [src]="this.product.imageUrl[0]">
            <div class="row">
                <div *ngIf="this.product.imageUrl[1] != null">
                    <img [src]="this.product.imageUrl[1]" class="smallImages">
                </div>
                <div *ngIf="this.product.imageUrl[2] != null">
                    <img [src]="this.product.imageUrl[2]" class="smallImages">
                </div>
                <div *ngIf="this.product.imageUrl[3] != null">
                    <img [src]="this.product.imageUrl[3]" class="smallImages">
                </div>
            </div>
        </div>
        <div class="cartBtn">
            <button *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity" (click)="addToCart()" class="btn btn-secondary btn-block addToCartBtn">Add to Cart</button>
            <ng-template #updateQuantity>
                <product-quantity [product]="product" [shopping-cart]="shoppingCart">
                </product-quantity>
            </ng-template>
        </div>
    </div>
    <div class="col-6">
        <h1>{{this.product.title}}</h1>
        <h3 *ngIf="this.product.inStock" class="cgreen">IN STOCK</h3>
        <h3 *ngIf="!this.product.inStock" class="cred">OUT OF STOCK</h3>
        <h1>&#8377; {{this.product.price - this.product.price*this.product.discount*.01}}</h1>
        <h4>&#8377; <span class="cgray"><s>{{this.product.price}}</s></span> <span class="cgreen">
                {{this.product.discount}}%</span></h4>
        <br>
        <br>
        <!-- Highlights -->
        <div class="row">
            <div class="col-2">
                <h3>Highlights: </h3>
            </div>
            <div class="col-8">
                <div class="row">
                    <ng-container *ngFor="let h of this.product.tags; let i=index">
                        <div class="col">
                            {{h.name}}
                        </div>
                        <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
                    </ng-container>
                </div>
            </div>
        </div>
        <br>
        <br>
        <!-- ----------- End of Highlights --------------- -->
        <!-- Description -->
        <div class="row">
            <div class="col-2">
                <h3>Description: </h3>
            </div>
            <div class="col-8">
                <p>{{this.product.description}}</p>
            </div>
        </div>
        <!-- ----------- End of Description --------------- -->

        <!-- Specifications -->
        <div class="row tableBorder">
            <h3 class="header"> Specifications:</h3>
            <br>
            <div class="col">
                <ng-container *ngFor="let p of this.product.property">
                    <div class="row spec">
                        <div class="col-4">{{p.propertyId}}</div>
                        <div class="col-8">{{p.propertyName}}</div>
                    </div>
                </ng-container>
            </div>
        </div>
        <!-- ----------- End of Specifications --------------- -->
    </div>
</div>