.cgreen {
    color: #00C543;
}

.cred {
    color: red;
}

.cgray {
    color: #776D6D;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

p {
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 26pt;
}

.tableBorder {
    border: 1px solid #C4C4C4;
    margin: 10px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.header {
    width: 100%;
    border-bottom: 1px solid #C4C4C4;
    padding: 10px;
}

.spec {
    margin: 20px;
}

.imageContainer {
    width: 400px;
}

.mainImage {
    height: 300px;
    width: 390px;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.smallImages {
    width: 135px;
    height: 100px;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.cartBtn {
    width: 300px;
    height: 50px;
    margin: 30px;
}

.addToCartBtn {
    background-color: rgba(0, 173, 239, 0.8);
    border: 1px solid rgba(0, 173, 239, 0.8);
    border-radius: 10px;
    color: white;
    height: 50px;
}

.buyNowBtn {
    background-color: #24FF00;
    border: 1px solid #24FF00;
    border-radius: 10px;
    color: white;
    height: 50px;
}


/* .buyNowBtn:hover {
    background-color: rgb(230, 155, 5);
    border: 1px solid #24FF00;
    border-radius: 20px;
    color: black;
} */

.fixed-top {
    top: 150px
}

::ng-deep label.star {
    padding: 2px;
    font-size: 20px;
}