<div class="myFooter">
    <div class="row mainRow">
        <div class="col-8 leftSide">
            <div class="row">
                <div class="col-3">
                    <h3>About</h3>
                </div>
                <div class="col-3">
                    <h3>Help</h3>
                </div>
                <div class="col-3">
                    <h3>Policy</h3>
                </div>
                <div class="col-3">
                    <h3>Social</h3>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h3>Mail Us:</h3>
                    </div>
                    <div class="col-6">
                        <h3>Registered Office Address:</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>