<ng-container *ngIf="cart$ | async as cart">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <!-- <h1>Shopping Cart</h1> -->
                <div class="card-body">
                    <p>
                        You have {{ cart.totalItemsCount }} items in your shopping cart.
                        <button *ngIf="cart.items.length" (click)="clearCart()" class="float-right btn btn-light btn-sm">Clear Shopping Cart</button>

                    </p>
                </div>
                <table class="table">
                    <!-- <thead>
                        <tr>
                            <th></th>
                            <th>Product</th>
                            <th class="text-center" style="width: 230px">Quantity</th>
                        </tr>
                    </thead> -->
                    <tbody>
                        <tr *ngFor="let item of cart.items">
                            <td>
                                <img [src]="item.imageUrl[0]" class="thumbnail">
                            </td>
                            <td>
                                <h1> {{ item.title }}</h1>
                                <h1>&#8377; {{ item.price - item.price * item.discount * .01 }}</h1>
                                <h3>&#8377; <s>{{ item.price }}</s> &nbsp;<span class="cgreen">{{ item.discount }}%</span></h3>
                            </td>
                            <td>
                                <product-quantity [product]="item" [shopping-cart]="cart">
                                </product-quantity>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div style="width: 80%;">
                <div class="priceCard">
                    <h1 id="PriceHeading" style="margin-bottom:0em;">Price Details</h1>
                    <div class="priceAndDis">
                        <div class="block">
                            <div class="row">
                                <div class="col-6">
                                    <p> Price ({{ cart.totalItemsCount }} items)</p>
                                </div>
                                <div class="col-6">
                                    <p> {{ cart.totalNonDiscountedPrice | currency:'INR':true }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="row">
                                <div class="col-6">
                                    <p class="cgreen"> Discount ({{ cart.totalItemsCount }} items)</p>
                                </div>
                                <div class="col-6">
                                    <p class="cgreen"> {{ cart.totalDiscount| currency:'INR':true }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="priceAndDis">
                        <div class="block">
                            <div class="row">
                                <div class="col-6">
                                    <p> Total Payable</p>
                                </div>
                                <div class="col-6">
                                    <p> {{ cart.totalPrice | currency:'INR':true }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="priceAndDis">
                        <div class="block">
                            <div class="row">
                                <p class="cgreen"> You will save {{cart.totalDiscount| currency:'INR':true}} on this order </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="priceCardFooter">
                        <button *ngIf="cart.items.length" routerLink="/check-out" class="btn myBtn btnOrange">Checkout <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                    </div>
                    <div class="priceCardFooter">
                        <button class="btn myBtn btnBlue" routerLink="/">Shop More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>