<!-- <div class="container"> -->
<div class="row contRow">
    <!-- <div class="col-md-2"></div> -->
    <div class="col-md-4">
        <form #f="ngForm" (ngSubmit)="save()">
            <div class="form-group">
                <label for="title">Title</label>
                <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                    Title is required.
                </div>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-addon">&#8377;</span>
                    <input #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control" required>
                </div>
                <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                    <div *ngIf="price.errors.required">Price is required.</div>
                    <div *ngIf="price.errors.min">Price should be 0 or higher.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="mainCategory">Main Category</label>
                <select #subCategory="ngModel" [(ngModel)]="product.mainCategory" name="mainCategory" id="mainCategory" class="form-control" (change)="fillCategory($event.target.value)" required>
            <option value="" disabled></option>
            <ng-container *ngFor="let mc of mainCategories">
                <option [value]="mc.payload.key" >{{mc.payload.val().name}}</option>
            </ng-container>
            <option value="addNew"> Add New </option>
          </select>
                <div class="alert alert-danger" *ngIf="subCategory.touched && subCategory.invalid">
                    Category is required.
                </div>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control" required (change)="fillBrand($event.target.value)">
            <option value="" disabled></option>
            <option *ngFor="let c of categories$" [value]="c.$key">
              {{ c.name }}
            </option>
            <option value="addNew"> Add New </option>
          </select>
                <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                    Category is required.
                </div>
            </div>
            <!-- app.component.html -->
            <label for="">Upload Images</label>
            <file-pond #myPond [options]="pondOptions" [files]="pondFiles" (oninit)="pondHandleInit()" (onaddfile)="pondHandleAddFile($event)">
            </file-pond>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea #description="ngModel" [(ngModel)]="product.description" name="description" id="description" type="text" class="form-control" required></textarea>
                <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
                    <div *ngIf="description.errors.required">Description is required.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="brand">Brand</label>
                <select #brand="ngModel" [(ngModel)]="product.brand" name="brand" id="brand" class="form-control" required (change)="checkNew($event.target.value)">
            <option value="" disabled></option>
            <option *ngFor="let b of brand$" [value]="b.name">
              {{ b.name }}
            </option>
            <option value="addNew"> Add New </option>
          </select>
                <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                    Category is required.
                </div>
            </div>
            <div class="form-group">
                <label for="price">In Stock?</label>
                <div class="input-group">
                    <span class="input-group-addon">&#8377;</span>
                    <input #stock="ngModel" [(ngModel)]="product.inStock" name="stock" id="stock" type="checkbox" class="form-control">
                </div>

            </div>
            <div class="form-group">
                <label for="discount">Discount</label>
                <div class="input-group">
                    <input #discount="ngModel" [(ngModel)]="product.discount" name="discount" id="discount" type="number" class="form-control" required><span class="input-group-addon">&#8377;</span>
                </div>
                <div class="alert alert-danger" *ngIf="discount.touched && discount.invalid">
                    <div *ngIf="discount.errors.required">Discount is required.</div>
                </div>
            </div>
            <div class="form-group">
                <mat-form-field class="example-chip-list">
                    <mat-chip-list #chipList aria-label="Tag Selection">
                        <mat-chip *ngFor="let tag of product.tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
                            {{tag.name}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="New tag..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div>

            <div class="form-group">
                <label for="">Properties</label>
            </div>
            <div *ngFor="let property of properties.controls; let i=index">
                <div class="col-xs-12" [id]="i" style="width: 85%; margin:auto;">
                    <form [formGroup]="property">
                        <div class="row">
                            <div class="col-xs-4">
                                <input class="form-control" placeholder="Property Id" formControlName="propertyId" required>
                            </div>
                            <div class="col-xs-4">
                                <input class="form-control" placeholder="Property Name" formControlName="propertyName" required>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-danger" (click)="removePropertyClick(i)">
                    Remove
                  </button>
                            </div>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="button" (click)="addProperty()">Add Property</button>
            </div>
            <button [disabled]="!f.valid" class="btn btn-primary">Save</button>
            <button *ngIf="id" type="button" (click)="delete()" class="btn btn-danger">Delete</button>

        </form>
    </div>
    <div class="col-md-8">
        <div class="row imageRow">
            <div class="imageHolder col-6" *ngIf="product.imageUrl[0]">
                <img class="displayImage" [src]="product.imageUrl[0]" alt="">
                <button class="btn btn-danger" (click)="removeImage(product.imageUrl[0])">Remove</button>
            </div>
            <div class="imageHolder col-6 " *ngIf="product.imageUrl[1] ">
                <img class="displayImage " [src]="product.imageUrl[1] " alt=" ">
                <button class="btn btn-danger " (click)="removeImage(product.imageUrl[1]) ">Remove</button>
            </div>
        </div>
        <div class="row imageRow ">
            <div class="imageHolder col-6 " *ngIf="product.imageUrl[2] ">
                <img class="displayImage " [src]="product.imageUrl[2] " alt=" ">
                <button class="btn btn-danger " (click)="removeImage(product.imageUrl[2]) ">Remove</button>
            </div>
            <div class="imageHolder col-6 " *ngIf="product.imageUrl[3] ">
                <img class="displayImage " [src]="product.imageUrl[3] " alt=" ">
                <button class="btn btn-danger " (click)="removeImage(product.imageUrl[3]) ">Remove</button>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->