<form #f="ngForm" style="width: 1300px; margin: auto;">
    <h1>Edit Banner Images</h1>
    <div class="form-group">
        <file-pond #myPond [options]="pondOptions" [files]="pondFiles" (oninit)="pondHandleInit()" (onaddfile)="pondHandleAddFile($event)">
        </file-pond>
    </div>
    <ng-container>
        <div class="form-group" *ngFor="let u of urls">
            <img style="width: 1280px; height: 300px;" [src]="u">
            <button style="margin-left: -45px;margin-top: -250px; height: 40px; width: 40px" class="btn btn-danger" (click)="removeImg(u)">x</button>
        </div>
    </ng-container>

</form>
<div class="container" id="mainCategory">
    <h1>Add Main Category</h1>
    <form #f2="ngForm" (ngSubmit)="addMainCategory()">
        <div class="form-group">
            <label for="addMainCat">Add Main Category</label>
            <input #addMainCatName="ngModel" [(ngModel)]="newMainCat" name="addMainCatName" id="addMainCatName" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="addMainCatDesc">Main Category Description</label>
            <textarea #addMainCatDesc="ngModel" [(ngModel)]="newMainCatDesc" name="addMainCatDesc" id="addMainCatDesc" type="text" class="form-control"></textarea>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
    <h1>Remove Main Category</h1>
    <form #f3="ngForm" (ngSubmit)="removeMainCategory()">
        <div class="form-group">
            <label for="removeMainCat">Remove Main Category</label>
            <select #removeMainCat="ngModel" [(ngModel)]="toBeRemovedMainCat" name="toBeRemovedMainCat" id="toBeRemovedMainCat" type="text" class="form-control"> 
                <option value="" disabled></option>
                <ng-container *ngFor="let category of this.categories$">
                    <option [value]="category.$key">{{category.name}}</option>
                </ng-container>
            </select>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
    <h1>Add Category</h1>
    <form #f4="ngForm" (ngSubmit)="addnewCategory()">
        <div class="form-group">
            <label for="chooseMainCat">Choose Main Category</label>
            <select #chooseMainCat="ngModel" [(ngModel)]="chosenMainCat" name="chosenMainCat" id="chosenMainCat" type="text" class="form-control"> 
                <option value="" disabled></option>
                <ng-container *ngFor="let category of this.categories$">
                    <option [value]="category.$key">{{category.name}}</option>
                </ng-container>
            </select>
        </div>
        <div class="form-group">
            <label for="newCatName">Enter new Category name</label>
            <input #newCatName="ngModel" [(ngModel)]="newCat" name="newCatName" id="newCatName" type="text" class="form-control">
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
    <h1>Remove Category</h1>
    <form #f5="ngForm" (ngSubmit)="removeCategory()">
        <div class="form-group">
            <label for="chooseMainCat">Choose Main Category</label>
            <select #chooseMainCat="ngModel" [(ngModel)]="chosenMainCat" name="chosenMainCat" id="chosenMainCat" type="text" class="form-control" (change)="fillCatArray()"> 
                <option value="" disabled></option>
                <ng-container *ngFor="let category of this.categories$">
                    <option [value]="category.$key">{{category.name}}</option>
                </ng-container>
            </select>
        </div>
        <div class="form-group">
            <label for="newCatName">Choose Category name</label>
            <select #chooseCat="ngModel" [(ngModel)]="chosenCat" name="chosenCat" id="chosenCat" type="text" class="form-control"> 
                <option value="" disabled></option>
                <ng-container *ngFor="let category of this.catArray">
                    <option [value]="category.name">{{category.name}}</option>
                </ng-container>
            </select>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
    <h1>Add Brand</h1>

    <form #f6="ngForm" (ngSubmit)="addBrand()">
        <div class="form-group">
            <label for="chooseMainCat">Choose Main Category</label>
            <select #chooseMainCat="ngModel" [(ngModel)]="chosenMainCat" name="chosenMainCat" id="chosenMainCat" type="text" class="form-control" (change)="fillCatArray()"> 
                <option value="" disabled></option>
                <ng-container *ngFor="let category of this.categories$">
                    <option [value]="category.$key">{{category.name}}</option>
                </ng-container>
            </select>
        </div>
        <div class="form-group">
            <label for="newCatName">Choose Category name</label>
            <select [(ngModel)]="chosenCat" name="chosenCat" id="chosenCat" type="text" class="form-control"> 
                <option value="" disabled></option>
                <ng-container *ngFor="let category of this.catArray">
                    <option [value]="category.name">{{category.name}}</option>
                </ng-container>
            </select>
        </div>
        <div class="form-group">
            <label for="newBrandName">Enter Brand Name</label>
            <input [(ngModel)]="newBrandName" name="newBrandName" id="newBrandName" type="text" class="form-control">
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
    <h1>Remove Brand</h1>
    <form #f7="ngForm" (ngSubmit)="removeBrand()">
        <div class="form-group">
            <label for="chooseMainCat">Choose Main Category</label>
            <select #chooseMainCat="ngModel" [(ngModel)]="chosenMainCat" name="chosenMainCat" id="chosenMainCat" type="text" class="form-control" (change)="fillCatArray()"> 
                <option value="" disabled></option>
                <ng-container *ngFor="let category of this.categories$">
                    <option [value]="category.$key">{{category.name}}</option>
                </ng-container>
            </select>
        </div>
        <div class="form-group">
            <label for="chosenCat">Choose Category name</label>
            <select [(ngModel)]="chosenCat" name="chosenCat" id="chosenCat" type="text" class="form-control" (change)="fillBrandArray()"> 
                <option value="" disabled></option>
                <ng-container *ngFor="let category of this.catArray">
                    <option [value]="category.name">{{category.name}}</option>
                </ng-container>
            </select>
        </div>
        <div class="form-group">
            <label for="chosenBrand">Choose Brand name</label>
            <select [(ngModel)]="chosenBrand" name="chosenBrand" id="chosenBrand" type="text" class="form-control"> 
                <option value="" disabled></option>
                <ng-container *ngFor="let brand of this.brandArray">
                    <option [value]="brand.name">{{brand.name}}</option>
                </ng-container>
            </select>
        </div>

        <button class="btn btn-primary">Submit</button>
    </form>

    <!-- <h1>Add Pincode</h1>
    <form #f8="ngForm" (ngSubmit)="addPin()">
        <div class="form-group">
            <label for="pincode">Enter Pincode</label>
            <mat-form-field class="form-control" style="border: 0px;">
                <mat-chip-list #chipList2 aria-label="Tag Selection">
                    <mat-chip *ngFor="let tag of pincodes" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
                        {{tag.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input id="aa" placeholder="New tag..." [matChipInputFor]="chipList2" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
            </mat-form-field>
        </div>

        <button class="btn btn-primary">Submit</button>
    </form> -->



    <h1>Listed Pincode</h1>
    <form #f8="ngForm" (ngSubmit)="modifyPin()">
        <div class="form-group">
            <label for="pincode">Enter Pincode</label>
            <!-- <input #pincode="ngModel" [(ngModel)]="newPin" name="pincode" id="pincode" type="number" class="form-control" pattern="^[0-9]{6,6}$"> -->
            <mat-form-field class="form-control" style="border: 0px;">
                <mat-chip-list #chipList aria-label="Tag Selection">
                    <mat-chip *ngFor="let tag of oldPincodes" [selectable]="selectable" [removable]="removable" (removed)="remove2(tag)">
                        {{tag.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New tag..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add2($event)">
                </mat-chip-list>
            </mat-form-field>
        </div>

        <button class="btn btn-primary">Submit</button>
    </form>

    <h1>Remove Pincode</h1>
    <form #f9="ngForm" (ngSubmit)="removePin()">
        <div class="form-group">
            <label for="pincode2">Enter Pincode</label>
            <input #pincode2="ngModel" [(ngModel)]="remPin" name="pincode2" id="pincode2" type="number" class="form-control" pattern="^[0-9]{6,6}$">
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>