.card {
    border: 0px solid #c4c4c4;
    width: 200px;
    height: 293px;
    border-radius: 30px;
}

.card:hover {
    /* box-shadow: whitesmoke; */
    border: 1px groove;
    cursor: pointer;
}

.cardImage {
    height: 200px;
    width: 160px;
}

.mid {
    margin-top: 100px;
    margin-bottom: 100px;
}

.lowZ {
    z-index: 1;
}

.card-img-top {
    background-color: white;
    height: 198px;
    width: 198px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

::ng-deep .carousel-indicators {
    z-index: 1;
}

h3 {
    line-height: 1.5em;
    height: 3em;
    /* height is 2x line-height, so two lines will display */
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}

.c4 {
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%
}