<div *ngIf="imgUrl" class="lowZ">
    <carousel [noPause]="false">
        <slide *ngFor="let url of imgUrl">
            <img [src]="url" alt="first slide" style="display: block; width: 1280px; height: 400px; margin: auto; background-color: white;">
        </slide>

    </carousel>
</div>

<!-- <div *ngIf="products$.length !=0">
    <carousel [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="singleSlideOffset" [interval]="false" [noWrap]="noWrap">
        <slide *ngFor="let slide of products$; let index=index">
            <img [src]="slide.payload.val().imageUrl[0]" alt="image slide" style="display: block; width: 100%;">
            <div class="carousel-caption">
                <h4>Slide {{index}}</h4>
            </div>
        </slide>
    </carousel>
</div> -->
<div *ngIf="products$.length != 0" class="mid">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" [src]="this.products$[0].payload.val().imageUrl[0]" alt="">
                    <div class="card-body">
                        <h3 class="card-title">{{this.products$[0].payload.val().title}}</h3>
                        <p class="card-text">&#8377;{{this.products$[0].payload.val().price - (this.products$[0].payload.val().price * this.products$[0].payload.val().discount * .01)}}</p>
                        <p class="card-text"><span style="color: #c4c4c4;">&#8377;<s>{{this.products$[0].payload.val().price}}</s></span><span style="color: #00C543;">  {{this.products$[0].payload.val().discount}}%</span></p>
                        <button type="button" (click)="nav(this.products$[0].key)" class="btn btn-primary">View</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" [src]="this.products$[1].payload.val().imageUrl[0]" alt="">
                    <div class="card-body">
                        <h3 class="card-title">{{this.products$[1].payload.val().title}}</h3>
                        <p class="card-text">Price &#8377;{{this.products$[1].payload.val().price - (this.products$[1].payload.val().price * this.products$[1].payload.val().discount * .01)}}</p>
                        <p class="card-text"><span style="color: #c4c4c4;">&#8377;<s>{{this.products$[1].payload.val().price}}</s></span><span style="color: #00C543;">  {{this.products$[1].payload.val().discount}}%</span></p>
                        <button type="button" (click)="nav(this.products$[1].key)" class="btn btn-primary">View</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" [src]="this.products$[2].payload.val().imageUrl[0]" alt="">
                    <div class="card-body">
                        <h3 class="card-title">{{this.products$[0].payload.val().title}}</h3>
                        <p class="card-text">Price &#8377;{{this.products$[0].payload.val().price - (this.products$[0].payload.val().price * this.products$[0].payload.val().discount * .01)}}</p>
                        <p class="card-text"><span style="color: #c4c4c4;">&#8377;<s>{{this.products$[2].payload.val().price}}</s></span><span style="color: #00C543;">  {{this.products$[2].payload.val().discount}}%</span></p>
                        <button type="button" (click)="nav(this.products$[1].key)" class="btn btn-primary">View</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>