<div class="row" *ngIf="cart$ | async as cart">
    <div class="col-8">
        <shipping-form [cart]="cart"></shipping-form>
    </div>
    <div class="col-4">
        <div style="width: 80%;">
            <div class="priceCard">
                <h1 id="PriceHeading" style="margin-bottom:0em;">Price Details</h1>
                <div class="priceAndDis">
                    <div class="block">
                        <div class="row">
                            <div class="col-6">
                                <p> Price ({{ cart.totalItemsCount }} items)</p>
                            </div>
                            <div class="col-6">
                                <p> {{ cart.totalNonDiscountedPrice | currency:'INR':true }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="row">
                            <div class="col-6">
                                <p class="cgreen"> Discount ({{ cart.totalItemsCount }} items)</p>
                            </div>
                            <div class="col-6">
                                <p class="cgreen"> {{ cart.totalDiscount| currency:'INR':true }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="priceAndDis">
                    <div class="block">
                        <div class="row">
                            <div class="col-6">
                                <p> Total Payable</p>
                            </div>
                            <div class="col-6">
                                <p> {{ cart.totalPrice | currency:'INR':true }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="priceAndDis">
                    <div class="block">
                        <div class="row">
                            <p class="cgreen"> You will save {{cart.totalDiscount| currency:'INR':true}} on this order </p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="priceCardFooter">
                    <button *ngIf="cart.items.length" routerLink="/check-out" class="btn myBtn btnGreen">Pay Securly <i class="fa user-lock" aria-hidden="true"></i></button>
                </div>
                <div class="smallBtn">
                    <button class="btn myBtn btnGray" routerLink="/shopping-cart">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>